<h1>Task Details</h1>
  <h2><%= @task.title %></h2>
    <p><%= @task.details %></p>
    <% if @task.completed?  %>
    <p><%= "Completed" %></p>
    <% else %>
    <p><%= "Not Completed" %></p>
    <% end %>
